body {
    margin: 0;
}
.parallax {

    height: 100%;
}
.parallax2 {

    height: 100%;
}
.zdog-canvas {
    background: #1c1c1c;
    display: block;

    width: 100%;
    position: relative;
    cursor: move;
}.zdog-canvas-star {
    background: #FF9505;
    display: block;
    width: 100%;
   position: relative;

    cursor: move;
}


.info {
    position:absolute;
    display:block;
    width: 100%;
    bottom: 10%;

    text-align: center;
    color: #FF9505;
}
.info2 {
    position:absolute;
    display:block;
    width: 100%;
    bottom: 10%;

    text-align: center;
    color: #fff;
}

a{
    font-family: monospace;
}

