body {
    margin: 0;
}
.parallax {

    height: 100%;
}
.parallax2 {

    height: 100%;
}
#artboard{
    height: 200%;
    margin: 0;
}
.zdog-canvas {
    background: #1c1c1c;
    display: block;

    width: 100%;
    position: relative;
    cursor: move;
}.zdog-canvas-star {
    background: #1c1c1c;
    display: block;
    width: 100%;
    position: relative;

    cursor: move;
}
a{
    font-family: monospace;

}

.info {
    position: absolute;
    display:block;
    width: 100%;
    bottom: 10%;

    text-align: center;

}

#starInfo{
    color: #fff;
}



